* {
  box-sizing: border-box;
}

ul {
  margin : 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.bestVideo{
  width: 100%;
  display: flex;
  justify-content: center;
}

.detail {
  flex: 1 1 80%;
}

.list{
  flex: 1 1 20%;
}

@media screen and (max-width : 48em) {
  .content {
    flex-direction: column;
    padding: 0.5em;
  }
}