* {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.content {
  display: flex;
}

.detail {
  flex: 1 1 70%;
}

.list{
  flex: 1 1 30%;
}