* {
  box-sizing: border-box;
}

ul {
  margin : 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.content {
  margin-top: 10em;
  display: flex;
  flex-wrap: wrap;
  
}

.bestVideo{
  width: 100%;
  display: flex;
  justify-content: center;
}

.detail {
  flex: 1 1 70%;
}

.list{
  flex: 1 1 30%;
}

@media screen and (max-width : 48em) {
  .content {
    margin-top: 4em;
    padding: 0.5em;
    flex-direction: column;
  }
}