.container {
  
  padding: 1em;
}

.container.grid {
  width: 50%;
}

.container.list {
  width: 100%;
}

.video {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 1em;
  box-shadow: 4px 5px 3px 0px rgba(0,0,0,0.33);
  cursor: pointer;
  transition: transform 200ms ease-out;
  overflow:hidden; 
  text-overflow:ellipsis;

}

.video:hover {
  transform: scale(1.05);
}

.thumbnail {
  width: 50%;
  height: 100%;
  border-radius: 1em;
}

.description {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0.4em;
}

.title {
  width: 100%;
}

.channel {
  width: 100%;
}